<meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' />

<div *ngIf="validate==false" class="topnav" id="navbar1" style=" background:transparent;">
  <a href="/Ulogin" style=" color:#5A5A5A  ;">{{ h33 }}</a>
  <a href="/Products" style="color:#5A5A5A  ;">{{ h32 }}</a>
  <a href="/OurStory" style=" color:#5A5A5A  ;">{{ h31 }}</a>
  <a href="#aboutUs" style=" color:#5A5A5A  ;">{{ h30 }}</a>
  <a href="/" style="color:#5A5A5A  ;">{{ h29 }}</a>
  <p (click)=" homepage()" class="logo"><img src="../assets/utec logo.png"></p>
</div>

<div *ngIf="validate==true" class="topnav" id="navbar2" style=" background:transparent;      ">
  <a style="margin-left:100px ;" href="/Ulogin" (click)="logout1()" style=" color:#5A5A5A ;">Logout</a>
  <a href="secure/#upload1" style=" color:#5A5A5A ;">Upload quotation</a>
  <a href="/Products" style=" color:#5A5A5A ;">{{ h32 }}</a>
  <a href="/OurStory" style=" color:#5A5A5A ;">{{ h31 }}</a>
  <a href="/secure" style=" color:#5A5A5A ;">Welcome {{username}}</a>
  <p><img class="logo" src="../assets/utec logo.png"></p>
</div>


<div class="wrapper" style="  position: sticky;">
  <input type="checkbox" id="btn" hidden>
  <label for="btn" class="menu-btn">
    <i class="fas fa-bars"></i>
    <i class="fas fa-times"></i>
  </label>
  <nav id="sidebar">
    <div class="title">
      Utec
    </div>
    <ul class="list-items">
      <li><a href="/"><i class="fas fa-home"></i>{{ h29 }}</a></li>
      <li><a href="/OurStory"><i class="fas fa-sliders-h"></i> {{ h31 }}</a></li>
      <li><a href="/Products"><i class="fas fa-address-book"></i>{{ h32 }}</a></li>
      <li><a href="/Ulogin"><i class="fas fa-cog"></i>{{ h33 }}</a></li>
    </ul>
  </nav>
  <p (click)="homepage()" ><img id="LM" src="../assets/utec logo.png"></p>
</div>
<br> <br> <br> <br> <br>

<p id="atUtec">
  {{ h34 }}

</p>
<br> <br> <br> <br> <br>
<p id="ourStory"> {{ h35 }}</p>
<br> <br> <br> <br> <br><br> <br> <br> <br> <br><br> <br> <br> <br> <br>
<p id="pending">{{ h36 }}</p>
<br> <br> <br> <br> <br><br> <br> <br> <br> <br><br> <br> <br> <br> <br>
<p id="Commitments">{{ h37 }}</p>
<br> <br> <br> <br> <br>
<p style="text-align: center;">
  <img class="CoreValues" src="../assets/CoreValues.png">
</p>
<br> <br> <br> <br> <br>
<p id="Commitments1">{{ h38 }}</p>
<br> <br> <br> <br> <br>
<p style="text-align: center;">
  <img class="Quality_Impact" src="../assets/Quality_Impact.png">
</p>
<br> <br> <br> <br> <br>
<p id="p1">{{ h39 }}</p>
<br> <br> <br> <br> <br>
<p id="p2">{{ h40 }}</p>
<br> <br> <br> <br> <br>
<div class="powring">
  <br><br><br><br>
  <p id="p3"> {{ h41 }}</p>
  <br><br><br><br>
  <p id="p4">{{h42}}</p>
</div>
<br><br><br><br>
<p id="p5">
  {{ h43 }}
</p>
<br><br><br><br>


<div class="empowering">
  <p id="p6">{{ h44 }}</p>
  <br><br><br><br>
  <p id="p7">{{h45}}</p>

</div>
<br><br><br><br> <br><br><br><br>
<p id="p8">{{ h46 }}
</p>
<p id="p9">{{ h47 }}
</p>
<br><br><br><br> <br><br><br><br>
<footer class="row row-cols-5 py-5 my-5 border-top" class="footer">
  <div class="col">
    <a href="/" class="d-flex align-items-center mb-3 link-dark text-decoration-none">
      <svg class="bi me-2" width="40" height="32">
        <use xlink:href="#bootstrap"></use>
      </svg>
    </a>
    <div><img class="footerImg" src="../assets/utec logo.png"></div>
    <p class="phone">{{ h58 }}</p>
    <p class="mail">{{ h59 }}</p>
    <p class="address">{{ h60 }}</p>
  </div>

  <div class="col">

  </div>

  <div class="col" id="col1">
    <a href="/" class="d-flex align-items-center mb-3 link-dark text-decoration-none">
      <svg class="bi me-2" width="40" height="32">
        <use xlink:href="#bootstrap"></use>
      </svg>
    </a>
    <a class="mb-3" id="story" href="/OurStory">{{ h61 }}</a>
    <ul class="nav flex-column">
      <a style="color: #4f4f4f;margin-top: 10px;">{{ h62 }}</a>
      <a style="color: #4f4f4f;margin-top: 10px;">{{ h63 }}</a>
      <a style="color: #4f4f4f;margin-top: 10px;">{{ h64 }}</a>
      <a style="color: #4f4f4f;margin-top: 10px;">{{ h65 }}</a>
    </ul>
    <br>
    <p class="copyR">{{ h66 }}</p>
  </div>

  <div class="col" id="services" id="col1">
    <a href="/" class="d-flex align-items-center mb-3 link-dark text-decoration-none">
      <svg class="bi me-2" width="40" height="32">
        <use xlink:href="#bootstrap"></use>
      </svg>
    </a>
    <a class="mb-3" id="story">{{ h67 }}</a>
    <ul class="nav flex-column">
      <a style="color: #4f4f4f;margin-top: 10px;">{{ h68 }}</a>
      <a style="color: #4f4f4f;margin-top: 10px;">{{ h69 }}</a>
      <a style="color: #4f4f4f;margin-top: 10px;">{{ h70 }}</a>
      <a style="color: #4f4f4f;margin-top: 10px;">{{ h71 }}</a>
    </ul>
  </div>

  <div class="col" id="folowUs">
    <a href="/" class="d-flex align-items-center mb-3 link-dark text-decoration-none">
      <svg class="bi me-2" width="40" height="32">
        <use xlink:href="#bootstrap"></use>
      </svg>
    </a>
    <a class="mb-3" id="story">{{ h72 }}</a>
    <ul class="nav flex-column">
      <a style="color: #4f4f4f; margin-top: 10px;">{{ h73 }}</a>
      <a style="color: #4f4f4f;margin-top: 10px;">{{ h74 }}</a>
      <a style="color: #4f4f4f;margin-top: 10px;">{{ h75 }}</a>
      <a style="color: #4f4f4f;margin-top: 10px;">{{ h76 }}</a>

    </ul>

  </div>

</footer>
